<template name="editar">
  <div class="row">
    
    <div class="col-md-12">

      {{#if estaVerificado}}
      <div class="box-white" style="padding: 30px;">
        <h2>Complete sus Datos</h2>
        <form>

          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" name="edad" class="form-control" id="edad">
          </div>
          <div class="form-group">
            <label for="genero">Género:</label>
            <select id="genero" class="form-control">
              <option value="Mombre">Hombre</option>
              <option value="Mujer">Mujer</option>
            </select>
          </div>
          <div class="form-group">
              <label for="pais">País de nacimiento:</label>
              {{>paises}}
          </div>
          <div class="form-group">
            <label for="orientacion">Orientación sexual:</label>
            <select id="orientacion" class="form-control">
              <option value="Heterosexual">Heterosexual</option>
              <option value="Homosexual">Homosexual</option>
            </select>
          </div>

          <div class="form-group">
            <label for="condicion">Condición:</label>
            <select id="condicion" class="form-control">
              <option value="VIH">VIH</option>
              <option value="Sida">Sida</option>
              <option value="Herpes oral">VHS 1</option>
              <option value="Herpes genital"> VHS 2</option>
              <option value="VPH">VPH</option>
              <option value="Hepatitis B">Hepatitis B</option>
            </select>
          </div>




          <button type="submit" class="btn btn-default">Guardar</button>

        </form>
      </div>

      {{else}}
        
        <h2>Te hemos enviado un email de verificación</h2>

      {{/if}}
    </div>
  </div>
</template>

<template name="avatar">
    <div>

    <div>
     

      <div class="box-white" style="padding: 30px;">
      <br>
          <h2 style="width: 80%; margin: 10px auto; text-align: center; color: #B24357;">Crea tu propio avatar</h2>

          <div class="row">
            <div class="col-md-4">

                <canvas id="avatar" style="margin-left: -45px"></canvas>
                <br>
                <br>

            </div>
            <div class="col-md-8" style="padding-left: 28px; margin-top: -28px">
              <a href="#" class="btn btn-danger" style="position: relative;
    top: -8px;
    left: 86%; background-color: #b24357; border-color: #b24357" id="save-avatar">Guardar</a>
              <div class="box-white" style="background-color: #B24357; margin-top: 0px">
                <ul class="nav nav-tabs content-tabs" id="maincontent" role="tablist">
                  <li class="active"><a data-toggle="tab" href="#home">Rostros</a></li>
                  <li><a data-toggle="tab" href="#menu12">Cabello</a></li>

                  <li><a data-toggle="tab" href="#menu2">Ojos</a></li>
                  <li><a data-toggle="tab" href="#menu3">Gestos</a></li>
                  <li><a data-toggle="tab" href="#menu4">Cejas</a></li>
                  <li><a data-toggle="tab" href="#menu5">Nariz</a></li>
                  <li><a data-toggle="tab" href="#menu6">Boca</a></li>
                  {{#if esHombre}}
                  <li><a data-toggle="tab" href="#menu7">Barba</a></li>
                  <li><a data-toggle="tab" href="#menu8">Bigote</a></li>
                  {{/if}}
                  <li><a data-toggle="tab" href="#menu9">Ropa</a></li>
                  
                  <li><a data-toggle="tab" href="#menu11">Accesorios</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">

                     <ul class="nav nav-tabs">
                       <li class="active"><a data-toggle="tab" href="#color0">
                         <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                       </a>
                       </li>
                        <li><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #FAC9A6; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a>
                        </li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                        <li>
                          <a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7865; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                          </a>
                        </li>

                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864C25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>


                      </ul>

                      <div class="tab-content">
                        <div id="color0" class="tab-pane fade in active">
                          <div class="avatares">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/1.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/2.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/3.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/4.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/5.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/6.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/7.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/8.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/blanco/9.png" class="rostros">
                          </div>

                        </div>
                        <div id="color1" class="tab-pane fade">
                          <div class="avatares">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/1.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/2.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/3.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/4.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/5.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/6.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/7.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/8.png" class="rostros">
                            <img src="/avatares/a/rostros/{{tipo}}/palido/9.png" class="rostros">
                          </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/1.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/2.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/3.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/4.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/5.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/6.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/7.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/8.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/moreno/9.png" class="rostros">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/1.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/2.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/3.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/4.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/5.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/6.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/7.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/8.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/negro/9.png" class="rostros">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/1.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/2.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/3.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/4.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/5.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/6.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/7.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/8.png" class="rostros">
                              <img src="/avatares/a/rostros/{{tipo}}/trigueno/9.png" class="rostros">
                            </div>
                        </div>
                      </div>

                  </div>
                  <div id="menu12" class="tab-pane fade ">

                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#colorc0">
                        <span style="display: inline-block; background-color: black; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                      </a></li>
                       <li><a data-toggle="tab" href="#colorc1">
                         <span style="display: inline-block; background-color: brown; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                       </a></li>
                       <li><a data-toggle="tab" href="#colorc2">
                          <span style="display: inline-block; background-color: #361610; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                       </a></li>

                       <li><a data-toggle="tab" href="#colorc3">
                          <span style="display: inline-block; background-color: #5D5C5B; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                       </a></li>
                       <li><a data-toggle="tab" href="#colorc4">
                          <span style="display: inline-block; background-color: #B17E21; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                       </a></li>

                     </ul>

                     <div class="tab-content">
                       <div id="colorc0" class="tab-pane fade in active">
                           <div class="avatares">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/1.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/2.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/3.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/4.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/5.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/6.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/7.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/8.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/negro/9.png" class="cabellos">


                           </div>
                       </div>
                       <div id="colorc1" class="tab-pane fade">
                           <div class="avatares">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/1.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/2.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/3.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/4.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/5.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/6.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/7.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/8.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanoclaro/9.png" class="cabellos">


                           </div>
                       </div>
                       <div id="colorc2" class="tab-pane fade">
                           <div class="avatares">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/1.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/2.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/3.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/4.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/5.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/6.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/7.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/8.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/castanooscuro/9.png" class="cabellos">

                           </div>
                       </div>
                       <div id="colorc3" class="tab-pane fade">
                           <div class="avatares">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/1.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/2.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/3.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/4.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/5.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/6.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/7.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/8.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/gris/9.png" class="cabellos">

                           </div>
                       </div>
                       <div id="colorc4" class="tab-pane fade">
                           <div class="avatares">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/1.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/2.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/3.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/4.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/5.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/6.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/7.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/8.png" class="cabellos">
                             <img src="/avatares/a/cabello/{{tipo}}/rubio/9.png" class="cabellos">

                           </div>
                       </div>
                     </div>




                  </div>

                  <div id="menu2" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li><a data-toggle="tab" href="#coloro0">
                          <span style="display: inline-block; background-color: #A36B18; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#coloro3">
                           <span style="display: inline-block; background-color: #844213; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#coloro2">
                           <span style="display: inline-block; background-color: #482614; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#coloro4">
                           <span style="display: inline-block; background-color: #315B32; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                        <li class="active"><a data-toggle="tab" href="#coloro1">
                          <span style="display: inline-block; background-color: #10ADD0; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>

                      </ul>

                      <div class="tab-content">
                        <div id="coloro0" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/1.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/2.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/3.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/4.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/6.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/7.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/8.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronclaro/9.png" class="ojos">
                            </div>
                        </div>
                        <div id="coloro1" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/1.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/2.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/3.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/4.png" class="ojos">

                              <img src="/avatares/a/ojos/{{tipo}}/azul/6.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/7.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/8.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/azul/9.png" class="ojos">
                            </div>
                        </div>
                        <div id="coloro2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/1.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/2.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/3.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/4.png" class="ojos">

                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/6.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/7.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/8.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/marronoscuro/9.png" class="ojos">
                            </div>
                        </div>
                        <div id="coloro3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/1.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/2.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/3.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/4.png" class="ojos">

                              <img src="/avatares/a/ojos/{{tipo}}/miel/6.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/7.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/8.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/miel/9.png" class="ojos">
                            </div>
                        </div>
                        <div id="coloro4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/1.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/2.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/3.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/4.png" class="ojos">

                              <img src="/avatares/a/ojos/{{tipo}}/verde/6.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/7.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/8.png" class="ojos">
                              <img src="/avatares/a/ojos/{{tipo}}/verde/9.png" class="ojos">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                    <div class="avatares">
                      <img src="/avatares/a/expresiones/1.png" class="expresiones">
                      <img src="/avatares/a/expresiones/2.png" class="expresiones">
                      <img src="/avatares/a/expresiones/3.png" class="expresiones">
                      <img src="/avatares/a/expresiones/4.png" class="expresiones">
                      <img src="/avatares/a/expresiones/5.png" class="expresiones">
                      <img src="/avatares/a/expresiones/6.png" class="expresiones">
                      <img src="/avatares/a/expresiones/7.png" class="expresiones">
                      <img src="/avatares/a/expresiones/8.png" class="expresiones">
                      <img src="/avatares/a/expresiones/9.png" class="expresiones">
                    </div>

                  </div>
                  <div id="menu4" class="tab-pane fade">
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#colorce0">
                          <span style="display: inline-block; background-color: #020303; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorce1">
                          <span style="display: inline-block; background-color: #5F2F16; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorce2">
                           <span style="display: inline-block; background-color: #361610; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>

                        <li><a data-toggle="tab" href="#colorce3">
                           <span style="display: inline-block; background-color: #5D5C5B; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorce4">
                           <span style="display: inline-block; background-color: #B17E21; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>

                      </ul>

                      <div class="tab-content">
                        <div id="colorce0" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/1.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/2.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/3.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/4.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/5.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/6.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/7.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/8.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/negro/9.png" class="cejas">
                            </div>
                        </div>
                        <div id="colorce1" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/1.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/2.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/3.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/4.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/5.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/6.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/7.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/8.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanoclaro/9.png" class="cejas">
                            </div>
                        </div>
                        <div id="colorce2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/1.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/2.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/3.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/4.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/5.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/6.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/7.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/8.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/castanooscuro/9.png" class="cejas">
                            </div>
                        </div>
                        <div id="colorce3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/1.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/2.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/3.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/4.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/5.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/6.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/7.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/8.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/gris/9.png" class="cejas">
                            </div>
                        </div>
                        <div id="colorce4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/1.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/2.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/3.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/4.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/5.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/6.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/7.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/8.png" class="cejas">
                              <img src="/avatares/a/cejas/{{tipo}}/rubio/9.png" class="cejas">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu5" class="tab-pane fade">

                    <div class="avatares">
                      <img src="/avatares/a/narices/{{tipo}}/1.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/2.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/3.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/4.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/5.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/6.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/7.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/8.png" class="narices">
                      <img src="/avatares/a/narices/{{tipo}}/9.png" class="narices">
                    </div>

                  </div>
                  <div id="menu6" class="tab-pane fade">
                    {{#if esMujer}}
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#colorb0">
                          <span style="display: inline-block; background-color: #F7979C; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorb1">
                          <span style="display: inline-block; background-color: #F7979C; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorb2">
                           <span style="display: inline-block; background-color: #E94A4D; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorb3">
                           <span style="display: inline-block; background-color: #A02E18; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorb4">
                           <span style="display: inline-block; background-color: #B0191D; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                      </ul>

                      <div class="tab-content">
                        <div id="colorb0" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/1.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/2.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/3.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/4.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/5.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/6.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/7.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/8.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/palido/9.png" class="bocas">
                            </div>
                        </div>

                        <div id="colorb1" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/1.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/2.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/3.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/4.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/5.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/6.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/7.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/8.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaclaro/9.png" class="bocas">
                            </div>
                        </div>

                        <div id="colorb2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/1.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/2.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/3.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/4.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/5.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/6.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/7.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/8.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rosaoscuro/9.png" class="bocas">
                            </div>
                        </div>

                        <div id="colorb3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/1.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/2.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/3.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/4.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/5.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/6.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/7.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/8.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/naranja/9.png" class="bocas">
                            </div>
                        </div>

                        <div id="colorb4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/1.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/2.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/3.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/4.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/5.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/6.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/7.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/8.png" class="bocas">
                              <img src="/avatares/a/bocas/{{tipo}}/rojo/9.png" class="bocas">
                            </div>
                        </div>
                      </div>
                    {{else}}
                      <div class="avatares">
                        <img src="/avatares/a/bocas/{{tipo}}/1.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/2.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/3.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/4.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/5.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/6.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/7.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/8.png" class="bocas">
                        <img src="/avatares/a/bocas/{{tipo}}/9.png" class="bocas">
                      </div>
                    {{/if}}
                  </div>
                  <div id="menu7" class="tab-pane fade">
                    <div class="avatares">
                      <img src="/avatares/a/barba/1.png" class="barba">
                      <img src="/avatares/a/barba/2.png" class="barba">
                      <img src="/avatares/a/barba/3.png" class="barba">
                      <img src="/avatares/a/barba/4.png" class="barba">
                      <img src="/avatares/a/barba/5.png" class="barba">
                      <img src="/avatares/a/barba/6.png" class="barba">
                      <img src="/avatares/a/barba/7.png" class="barba">
                      <img src="/avatares/a/barba/8.png" class="barba">
                      <img src="/avatares/a/barba/9.png" class="barba">
                    </div>
                  </div>
                  <div id="menu8" class="tab-pane fade">

                    <div class="avatares">
                      <img src="/avatares/a/bigotes/1.png" class="bigotes">
                      <img src="/avatares/a/bigotes/2.png" class="bigotes">
                      <img src="/avatares/a/bigotes/3.png" class="bigotes">
                      <img src="/avatares/a/bigotes/4.png" class="bigotes">
                      <img src="/avatares/a/bigotes/5.png" class="bigotes">
                      <img src="/avatares/a/bigotes/6.png" class="bigotes">
                      <img src="/avatares/a/bigotes/7.png" class="bigotes">
                      <img src="/avatares/a/bigotes/8.png" class="bigotes">
                      <img src="/avatares/a/bigotes/9.png" class="bigotes">
                    </div>

                  </div>
                  <div id="menu9" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#colorr1">
                          <span style="display: inline-block; background-color: yellow; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorr2">
                           <span style="display: inline-block; background-color: blue; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>

                        <li><a data-toggle="tab" href="#colorr3">
                           <span style="display: inline-block; background-color: black; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorr4">
                           <span style="display: inline-block; background-color: red; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#colorr5">
                           <span style="display: inline-block; background-color: white; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>

                      </ul>

                      <div class="tab-content">
                        <div id="colorr1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/1.png" class="ropa">
                              {{#if esMujer}}
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/2.png" class="ropa">
                              {{/if}}
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/3.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/4.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/5.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/6.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/7.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/8.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/amarillo/9.png" class="ropa">
                            </div>
                        </div>
                        <div id="colorr2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/1.png" class="ropa">
                              {{#if esMujer}}
                              <img src="/avatares/a/ropa/{{tipo}}/azul/2.png" class="ropa">
                              {{/if}}
                              <img src="/avatares/a/ropa/{{tipo}}/azul/3.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/4.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/5.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/6.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/7.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/8.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/azul/9.png" class="ropa">
                            </div>
                        </div>
                        <div id="colorr3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/1.png" class="ropa">
                              {{#if esMujer}}
                              <img src="/avatares/a/ropa/{{tipo}}/negro/2.png" class="ropa">
                              {{/if}}
                              <img src="/avatares/a/ropa/{{tipo}}/negro/3.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/4.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/5.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/6.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/7.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/8.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/negro/9.png" class="ropa">
                            </div>
                        </div>
                        <div id="colorr4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/1.png" class="ropa">
                              {{#if esMujer}}
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/2.png" class="ropa">
                              {{/if}}
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/3.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/4.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/5.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/6.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/7.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/8.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/rojo/9.png" class="ropa">
                            </div>
                        </div>

                        <div id="colorr5" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/a/ropa/{{tipo}}/1.png" class="ropa">
                              {{#if esMujer}}
                              <img src="/avatares/a/ropa/{{tipo}}/2.png" class="ropa">
                              {{/if}}
                              <img src="/avatares/a/ropa/{{tipo}}/3.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/4.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/5.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/6.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/7.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/8.png" class="ropa">
                              <img src="/avatares/a/ropa/{{tipo}}/9.png" class="ropa">
                            </div>
                        </div>
                      </div>
                  </div>

                  <div id="menu11" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#colorac1">
                          <span style="display: inline-block; background-color: white; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>

                      </ul>

                      <div class="tab-content">

                        <div id="colorac1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/a/accesorios/{{tipo}}/1.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/2.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/3.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/4.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/5.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/6.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/7.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/8.png" class="accesorios">
                              <img src="/avatares/a/accesorios/{{tipo}}/9.png" class="accesorios">
                            </div>
                        </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</template>
