<template name="editar">
  <div class="row">
    
    <div class="col-md-12">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <div class="box-white" style="padding: 30px;">
        <form>

          <div class="form-group">
            <label for="edad">Edad:</label>
            <input type="number" name="edad" class="form-control" id="edad">
          </div>
          <div class="form-group">
            <label for="genero">Género:</label>
            <select id="genero" class="form-control">
              <option value="Mombre">Hombre</option>
              <option value="Mujer">Mujer</option>
            </select>
          </div>
          <div class="form-group">
              <label for="pais">País de nacimiento:</label>
              {{>paises}}
          </div>

          

          <div class="form-group">
            <label for="orientacion">Orientación sexual:</label>
            <select id="orientacion" class="form-control">
              <option value="Heterosexual">Heterosexual</option>
              <option value="Homosexual">Homosexual</option>
            </select>
          </div>

          <div class="form-group">
            <label for="condicion">Condición:</label>
            <select id="condicion" class="form-control">
              <option value="VIH">VIH</option>
              <option value="Sida">Sida</option>
              <option value="Herpes oral">VHS 1</option>
              <option value="Herpes genital"> VHS 2</option>
              <option value="VPH">VPH</option>
              <option value="Hepatitis B">Hepatitis B</option>
            </select>
          </div>




          <button type="submit" class="btn btn-default">Guardar</button>

        </form>
      </div>

    </div>
  </div>
</template>

<template name="avatar">
    <div >
    
    <div >
      <br>
      <br>
      <br>
      <br>

      <div class="box-white" style="padding: 30px;">
          <h2 style="width: 80%; margin: 10px auto; text-align: center; color: #B24357;">Crea tu avatar</h2>

          <div class="row">
            <div class="col-md-4">
              <div class="box-white" style="background-color: #B24357">
                <canvas id="avt"></canvas>
              </div>
            </div>
            <div class="col-md-8">
              <div class="box-white" style="background-color: #B24357">
                <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Rostros</a></li>
                  <li><a data-toggle="tab" href="#menu12">Cabello</a></li>
                  
                  <li><a data-toggle="tab" href="#menu2">Ojos</a></li>
                  <li><a data-toggle="tab" href="#menu3">Expresiones</a></li>
                  <li><a data-toggle="tab" href="#menu4">Cejas</a></li>
                  <li><a data-toggle="tab" href="#menu5">Nariz</a></li>
                  <li><a data-toggle="tab" href="#menu6">Boca</a></li>
                  <li><a data-toggle="tab" href="#menu7">Barba</a></li>
                  <li><a data-toggle="tab" href="#menu8">Bigote</a></li>
                  <li><a data-toggle="tab" href="#menu9">Ropa</a></li>
                  <li><a data-toggle="tab" href="#menu10">Fondo</a></li>
                  <li><a data-toggle="tab" href="#menu11">Accesorios</a></li>
                </ul>

                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                    
                     <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                 
                  </div>
                  <div id="menu12" class="tab-pane fade ">
                    
                      
                      
                      <div class="avatares">
                              <img src="/avatares/cabello/1.png">
                              <img src="/avatares/cabello/2.png">
                              <img src="/avatares/cabello/3.png">
                              <img src="/avatares/cabello/4.png">
                              <img src="/avatares/cabello/5.png">
                              <img src="/avatares/cabello/6.png">
                              <img src="/avatares/cabello/7.png">
                              <img src="/avatares/cabello/8.png">
                              <img src="/avatares/cabello/9.png">
                    </div>
                      
                  </div>
                 
                  <div id="menu2" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#c1">
                          <span style="display: inline-block; background-color: #0D9CBC; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#c2">
                           <span style="display: inline-block; background-color: #360F06; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#c3">
                           <span style="display: inline-block; background-color: #935E11; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#c4">
                           <span style="display: inline-block; background-color: #369453; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="c1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/ojos/azul/1.png">
                              <img src="/avatares/ojos/azul/2.png">
                              <img src="/avatares/ojos/azul/3.png">
                              <img src="/avatares/ojos/azul/4.png">
                              <img src="/avatares/ojos/azul/5.png">
                              <img src="/avatares/ojos/azul/6.png">
                              <img src="/avatares/ojos/azul/7.png">
                              <img src="/avatares/ojos/azul/8.png">
                              <img src="/avatares/ojos/azul/9.png">
                            </div>
                        </div>
                        <div id="c2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/ojos/marron/1.png">
                              <img src="/avatares/ojos/marron/2.png">
                              <img src="/avatares/ojos/marron/3.png">
                              <img src="/avatares/ojos/marron/4.png">
                              <img src="/avatares/ojos/marron/5.png">
                              <img src="/avatares/ojos/marron/6.png">
                              <img src="/avatares/ojos/marron/7.png">
                              <img src="/avatares/ojos/marron/8.png">
                              <img src="/avatares/ojos/marron/9.png">
                            </div>
                        </div>
                        <div id="c3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/ojos/miel/1.png">
                              <img src="/avatares/ojos/miel/2.png">
                              <img src="/avatares/ojos/miel/3.png">
                              <img src="/avatares/ojos/miel/4.png">
                              <img src="/avatares/ojos/miel/5.png">
                              <img src="/avatares/ojos/miel/6.png">
                              <img src="/avatares/ojos/miel/7.png">
                              <img src="/avatares/ojos/miel/8.png">
                              <img src="/avatares/ojos/miel/9.png">
                            </div>
                        </div>
                        <div id="c4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/ojos/verde/1.png">
                              <img src="/avatares/ojos/verde/2.png">
                              <img src="/avatares/ojos/verde/3.png">
                              <img src="/avatares/ojos/verde/4.png">
                              <img src="/avatares/ojos/verde/5.png">
                              <img src="/avatares/ojos/verde/6.png">
                              <img src="/avatares/ojos/verde/7.png">
                              <img src="/avatares/ojos/verde/8.png">
                              <img src="/avatares/ojos/verde/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu4" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu5" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu6" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu7" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu8" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu9" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu10" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                  <div id="menu11" class="tab-pane fade">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#color1">
                          <span style="display: inline-block; background-color: #F7D8C4; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px; margin-left: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color2">
                           <span style="display: inline-block; background-color: #BF7965; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        
                        <li><a data-toggle="tab" href="#color3">
                           <span style="display: inline-block; background-color: #864B25; width: 40px; height: 40px; border-radius: 70%;margin-right: 15px;"></span>
                        </a></li>
                        <li><a data-toggle="tab" href="#color4">
                           <span style="display: inline-block; background-color: #DDA572; width: 40px; height: 40px; border-radius: 70%; margin-right: 15px;"></span>
                        </a></li>
                  
                      </ul>
                      
                      <div class="tab-content">
                        <div id="color1" class="tab-pane fade in active">
                            <div class="avatares">
                              <img src="/avatares/rostros/blanco/1.png">
                              <img src="/avatares/rostros/blanco/2.png">
                              <img src="/avatares/rostros/blanco/3.png">
                              <img src="/avatares/rostros/blanco/4.png">
                              <img src="/avatares/rostros/blanco/5.png">
                              <img src="/avatares/rostros/blanco/6.png">
                              <img src="/avatares/rostros/blanco/7.png">
                              <img src="/avatares/rostros/blanco/8.png">
                              <img src="/avatares/rostros/blanco/9.png">
                            </div>
                        </div>
                        <div id="color2" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/moreno/1.png">
                              <img src="/avatares/rostros/moreno/2.png">
                              <img src="/avatares/rostros/moreno/3.png">
                              <img src="/avatares/rostros/moreno/4.png">
                              <img src="/avatares/rostros/moreno/5.png">
                              <img src="/avatares/rostros/moreno/6.png">
                              <img src="/avatares/rostros/moreno/7.png">
                              <img src="/avatares/rostros/moreno/8.png">
                              <img src="/avatares/rostros/moreno/9.png">
                            </div>
                        </div>
                        <div id="color3" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/negro/1.png">
                              <img src="/avatares/rostros/negro/2.png">
                              <img src="/avatares/rostros/negro/3.png">
                              <img src="/avatares/rostros/negro/4.png">
                              <img src="/avatares/rostros/negro/5.png">
                              <img src="/avatares/rostros/negro/6.png">
                              <img src="/avatares/rostros/negro/7.png">
                              <img src="/avatares/rostros/negro/8.png">
                              <img src="/avatares/rostros/negro/9.png">
                            </div>
                        </div>
                        <div id="color4" class="tab-pane fade">
                            <div class="avatares">
                              <img src="/avatares/rostros/trigueno/1.png">
                              <img src="/avatares/rostros/trigueno/2.png">
                              <img src="/avatares/rostros/trigueno/3.png">
                              <img src="/avatares/rostros/trigueno/4.png">
                              <img src="/avatares/rostros/trigueno/5.png">
                              <img src="/avatares/rostros/trigueno/6.png">
                              <img src="/avatares/rostros/trigueno/7.png">
                              <img src="/avatares/rostros/trigueno/8.png">
                              <img src="/avatares/rostros/trigueno/9.png">
                            </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</template>
