<template name="home">
	<div class="pantalla-inicio">
		<div style="height: 50vh; ">


			<div class="contenido-pantalla" style="text-align: center;">

				<h1 style="margin-bottom: 12px;"><img src="/hupsort1.png" style="width: 200px; height: 130px;" alt=""></h1>
				<h1 style="font-size: 22px; width: 60%; text-align: center; margin: 10px auto;">Comunidad de hispanohablantes

					con enfermedades de transmisión sexual</h1>
				<div style="margin-top: 20px;" class="botones">
					<input type="button" class="boton signup registro" value="Regístrate">
					<input type="button" class="boton login" value="Ingresa">
				</div>
				<br>
				<div class="row">
					<img src="/iconos.png" style="width: 140px; position: relative; left: 0px; height: 40px">
					<img src="/app.png" style="width: 140px; position: relative; left: 0px; height: 40px;">
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">


			<br>
			<br>
			<div class="row">
				<div class="col-md-4" style="border-right: 2px solid #B24357;">
					<span class="circle" style="width: 120px; height: 120px;"><img src="/user.png" style="width: 65px; position: relative; top: 27px; left: 28px;" alt="chat"></span>
					<p class="texto">
						A través de la <a style="font-weight: bold; color: black;">creación de tu propio avatar</a> podrás mantener, dentro de la comunidad, tu identidad de manera totalmente anónima. Ponle a tu personaje características similares a las tuyas para que otros miembros puedan tener una idea más clara de cómo eres físicamente.
					</p>
				</div>
				<div class="col-md-4" style="border-right: 2px solid #B24357;">
					<span class="circle" style="width: 120px; height: 120px;"><img src="/chat2.png" style="width: 65px; position: relative; top: 27px; left: 28px;" alt="hola"></span>
					<p class="texto">
						Mensajería instantánea por medio del <a style="font-weight: bold; color: black;">chat room</a>. Podrás encontrar personas en tu misma condición y compartir en tiempo real con muchos miembros de la comunidad. Si dos miembros desean conversar de manera privada pueden acceder al perfil de otro y empezar a charlar.
					</p>
				</div>
				<div class="col-md-4">
					<span class="circle" style="width: 120px; height: 120px;"><img src="/side.png" alt="hola" style="width: 65px; position: relative; top: 27px; left: 28px;" /></span>

					<p class="texto">
					Dentro de tu perfil encontrarás tu <a style="font-weight: bold; color: black;">wall</a>, un espacio donde puedes <a style="font-weight: bold; color: black;">compartir mensajes, imágenes o canciones</a> que serán visibles para todos los miembros de la comunidad, quienes podrán darle “Me gusta” y comentar. ¡Deja que más personas conozcan un poco más de ti!
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">

				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">

				</div>
			</div>
	</div>
	<div class="footer" style="color: #777;">
				Copyright © 2016 Hupsort
				<a href="#" style="color: #777;">Términos y Condiciones  </a>
				<a href="#" style="color: #777; display: inline-block; border-right: 1px solid #777; padding-right: 10px;">Políticas de Privacidad</a>
		</div>
</template>
