<template name="login">
	 <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header" style="padding-bottom: 2px;">
										<img src="/h1.png" style="width: 40px; height: 40px;" alt="">
										<button style="padding: 3px; position: relative; top: -44px; right: -548px;" type="button" class="btn btn-default" data-dismiss="modal">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button>
                </div>

                <div class="modal-body">
                    <form>
                    	<div class="form-group">
    						<label for="user">Email o Nombre de usuario:</label>
    						<input name="user" type="text" class="form-control" id="user">
  						</div>
  						<div class="form-group">
    						<label for="pwd">Contraseña:</label>
    						<input type="password" name="password" class="form-control" id="pwd">
  						</div>

  						<div class="checkbox">
    						<label style="color: #777;"><input type="checkbox"> Recordar mis datos</label>
  						</div>

  						<a href="#" style="color: #B24357; font-size: 12px;">¿Olvidaste tu contraseña?</a>
  						<br><br>
  						<button style="display: block; width: 100%; background-color: #b24357; color: white; border-color: #b24357; height: 40px;" type="submit" class="btn btn-default">
							Ingresa
  						</button>
                    </form>
                </div>

                

            </div>
        </div>
    </div>
</template>
