<template name="perfil">


<br>
<br>
<br>
<br>
<br>
	<div class="container">
		<div class="row">
		{{#if estaVerificado}}
			<div class="col-md-3">
				<div class="box-white" style="padding-top: 15px; color: #777">
					{{#with usuario}}

					<h4 style="width: 80%; margin: 10px auto; text-align: center;">{{this.username}}
					</h4>
					{{#each avatar}}
					<img src="{{url}}" style="display: inline-block; width: 132px; height: 173px;" id="left__in">
					{{/each}}
					<span class="amigos">
						{{#if esMiMuro}}
						{{else}}
						<a href="/chat/{{this._id}}">
							<img src="/icon.png" class="amigo">
						</a>
						{{/if}}

					{{#if esMiMuro}}
					<a href="/editar/avatar">
						<i style="color: #b24357" class="fa fa-pencil-square-o" aria-hidden="true"></i>
					</a>
					{{/if}}
					{{#if esMiMuro}}

					{{else}}
						<a href="#" class="agregar-amigo">
						<img src="/add.png" class="amigo">
					</a>
					{{/if}}
					</span>
					{{#if esMiMuro}}
					<div class="estate estado">
    				<span contenteditable="true" class="e">{{this.profile.estado}}</span>
					</div>

					{{else}}
					<p style="width: 90%; margin: 10px auto; text-align: center;">{{this.profile.estado}}</p>
					{{/if}}
					<table class="table">
						<tbody>

      <tr>
        <td>Género</td>
				{{#if this.profile.genero}}
        <td>{{this.profile.genero}}</td>
				{{else}}
				<td>-</td>
				{{/if}}
      </tr>
      <tr>
        <td>Edad</td>
				{{#if this.profile.edad}}
        <td>{{edad}}</td>

				{{else}}
				<td>-</td>
				{{/if}}
      </tr>
			<tr>
        <td>País de nacimiento</td>
				{{#if this.profile.pais}}
        <td>{{this.profile.pais}}</td>
				{{else}}
				<td>-</td>
				{{/if}}
      </tr>
			<tr>
        <td>Orientación sexual</td>
				{{#if this.profile.orientacion}}
        <td>{{this.profile.orientacion}}</td>
				{{else}}
				<td>-</td>
				{{/if}}
      </tr>
			<tr>
        <td>Condición</td>
				{{#if this.profile.condicion}}
        <td>{{this.profile.condicion}}</td>
				{{else}}
				<td>-</td>
				{{/if}}
      </tr>
    </tbody>
					</table>
					{{/with}}
				</div>
				<div class="box-white" style="background-color: transparent">
					<h4 style="color: #b24357">Amigos</h4>
					<br>
					{{#each amigos}}
					<div class="cuadro-amigo">
						{{#each avatar2}}

						<a href="/m/{{this.metadata.userId}}"><img src="{{url}}" class="foto_amigo"></a>
						{{/each}}
						<h5 style="margin-bottom: 5px; margin-top: 0px; margin-left: 0px; left: 3px;">{{this.amigo}} </h5>
					</div>
					{{/each}}
					<h5 class="ver" style="color: #b10c2a; font-size: 12px">Ver más amigos</h5>
					<h5 class="reportar" style="color: #b10c2a; font-size: 12px">Reportar usuario</h5>

				</div>
			</div>
			<div class="col-md-9">
				<div class="box-white">
					{{#if esMiMuro}}
					<form class="muro">
						<input type="text" name="texto" placeholder="Comparte lo que desees...">

						<label class="btn btn-default btn-file" style="margin-top: 0; padding-top: 10px;">
    					<span style="font-size: 16px;" class="glyphicon glyphicon-picture" aria-hidden="true"></span> <input type="file" id="myArchivo" accept="image/*" style="display: none;">
						</label>
						<button class="postear">
							Postear
						</button>
					</form>
					{{/if}}

					{{#each publicaciones}}
					{{#each fotos}}
					{{#if isImage}}
					<div class="col-md-12" style="padding: 0;" id="{{this._id}}">
						{{#if esMiMuro}}
						<span class="eliminar-pub2" style="position: relative;
    top: 50px;
    left: 90%;
    color: #95a5a6;"><i class="fa fa-times" style="position: relative;
    top: -10px;
    left: 14px;" aria-hidden="true"></i></span>
		{{/if}}
						<div class="publicacion" style="margin-bottom: 20px">
							<a>{{creador}}</a>
							<img src="{{this.url}}" alt="{{this.metadata.creadorId}}" style="max-width: 500px; display: block; max-height: 350px; box-shadow: inset 0px -1px 11px -2px rgba(0,0,0,0.75); border-radius: 4.5px; border: 1px solid #f1f1f1; display: block; ">
							<br>
							<span class="glyphicon glyphicon-heart like" style="color: #bdc3c7;" aria-hidden="true"></span>
							{{likes}}

							<form class="muro" style="margin: 0;">
							<input type="text" style="margin-left: 0;" name="{{_id}}" placeholder="Comentar publicación...">
						<button  id="comentar">
							Comentar
						</button>
						</form>
							{{#each comentarios}}
								<p><span style="color: #B24357">{{this.username}}: </span> {{comentario}}</p>
							{{/each}}
						</div>
					</div>

						{{/if}}

					{{/each}}
					{{#if this.esYoutube}}
					<div class="col-md-12" style="padding: 0;" id="{{this._id}}">
						{{#if esMiMuro}}
						<span class="eliminar-pub" style="position: relative;
    top: 49px;
    left: 90%;
    color: #95a5a6;"><i class="fa fa-times" style="position: relative;
    top: -10px;
    left: 14px;" aria-hidden="true"></i></span>
		{{/if}}
					<div class="publicacion" style="margin-bottom: 20px">
						<a>{{this.de.nombre}}</a>
          	<iframe style="width: 64.9%; display: block; min-height: 220px;" src={{ytb}} frameborder="0" allowfullscreen >
          	</iframe>
						<span class="glyphicon glyphicon-heart like" style="color: #bdc3c7;" aria-hidden="true"></span>
						{{likes}}

												<form class="muro" style="margin: 0;">
							<input type="text" style="margin-left: 0;" name="{{_id}}" placeholder="Comentar publicación...">
						<button  id="comentar">
							Comentar
						</button>
						</form>
							{{#each comentarios}}
								<p><span style="color: #B24357">{{this.username}}: </span> {{comentario}}</p>
							{{/each}}
					</div>

					</div>
					{{else}}

					<div class="col-md-12" style="padding: 0;" id="{{this._id}}">
						{{#if es}}
						<div class="publicacion" style="margin-top: 20px;">
							{{#if esMiMuro}}
							<span class="eliminar-pub" style="position: relative; top: 41px; left: 90%; color: #95a5a6;"><i class="fa fa-times" style="position: relative;
    top: -10px;
    left: 14px;" aria-hidden="true"></i></span>
							{{/if}}
							<a>{{this.de.nombre}}</a>
							<p>{{this.texto}}</p>

							<span class="glyphicon likes glyphicon-heart like" style="color: {{corazon}}" aria-hidden="true"></span>

							<span class="ver-likes">{{likes}}</span>

							<form class="muro" style="margin: 0;">
								<input type="text" style="margin-left: 0;" name="{{_id}}" placeholder="Comentar publicación...">
							<button  id="comentar">
								Comentar
							</button>
							</form>
								{{#each comentarios}}
									<p><span style="color: #B24357">{{this.username}}: </span> {{comentario}}</p>
								{{/each}}
						</div>
						{{/if}}
					</div>
					{{/if}}
					{{/each}}
				</div>
			</div>

			{{else}}

			<h2>Te hemos enviado un email de verificación</h2>

			{{/if}}
		</div>
		
	</div>
</template>

<template name="amigosModal">
	 <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Amigos</h4>
										<button style="padding: 3px; position: relative; top: -20px; right: -548px;" type="button" class="btn btn-default" data-dismiss="modal">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button>
                </div>

                <div class="modal-body">
                    {{#each amigos}}
					<div class="cuadro-amigo">
						{{#each avatar2}}
						<img src="{{url}}" alt="" style="width: 90px; height: 110px; margin: 15px 5px;">
						{{/each}}
						<h5 style="top: -42px; left: 8px;">{{this.amigo}} </h5>
					</div>
					{{/each}}
                </div>
				
				<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>



            </div>
        </div>
    </div>
</template>

<template name="likes">
	 <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Likes</h4>
										<button style="padding: 3px; position: relative; top: -20px; right: -548px;" type="button" class="btn btn-default" data-dismiss="modal">
											<i class="fa fa-times" aria-hidden="true"></i>
										</button>
                </div>

                <div class="modal-body">

        						{{#each likes}}

											<div class="cuadro-amigo">
												{{#each avatar}}
												<img src="{{url}}" alt="" style="width: 120px; height: 150px;  margin-top: 15px;">
												{{/each}}
												<h5 style="top: -48px">{{this.de.nombre}}</h5>
											</div>


        						{{/each}}


                </div>


            </div>
        </div>
    </div>
</template>

<template name="Reportar">
	 <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">



										<div class="modal-header" style="padding-bottom: 2px;">
												<h4 class="modal-title">Reportar</h4>

												<button style="padding: 3px; position: relative; top: -20px; right: -548px;" type="button" class="btn btn-default" data-dismiss="modal">
													<i class="fa fa-times" aria-hidden="true"></i>
												</button>
		                </div>


                <div class="modal-body">
                   <form>
  						<div class="form-group">
  					  		<textarea placeholder="¿Por que deseas reportar este usuario?" class="form-control" rows="10" id="comment"></textarea>
						</div>

  						<button data-dismiss="modal" type="submit" class="btn btn-default">Reportar</button>
  						<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
					</form>
                </div>



            </div>
        </div>
    </div>
</template>
