<template name="registro">
	 <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

							<div class="modal-header" style="padding-bottom: 2px;">
									<img src="/h1.png" style="width: 40px; height: 40px;" alt="">
									<button style="padding: 3px; position: relative; top: -44px; right: -548px;" type="button" class="btn btn-default" data-dismiss="modal">
										<i class="fa fa-times" aria-hidden="true"></i>
									</button>
							</div>

                <div class="modal-body">
                    <form>
  						<div class="form-group">
    						<label for="email">Email:</label>
    						<input name="email" type="email" class="form-control" id="email">
  						</div>
  						<div class="form-group">
    						<label for="user">Nombre de usuario:</label>
    						<input name="user" type="text" class="form-control" id="user">
  						</div>

  						<div class="form-group">
    						<label for="pwd">Contraseña:</label>
    						<input type="password" name="password" class="form-control" id="pwd">
  						</div>
							<div class="checkbox">
    						<label style="color: #777;"><input class="aceptar" type="checkbox"> Aceptar Términos y Condiciones</label>
  						</div>
							<br>
  						<button style="display: block; width: 100%; background-color: #b24357; color: white; border-color: #b24357; height: 40px;" type="submit" class="btn btn-default">Regístrate
  						</button>
					</form>
                </div>



            </div>
        </div>
    </div>
</template>

<template name="paises">
	<select id="pais" class="form-control">

	<option value="AR">Argentina</option>
	<option value="AM">Armenia</option>
	<option value="AW">Aruba</option>
	<option value="AU">Australia</option>
	<option value="AT">Austria</option>

	<option value="BS">Bahamas</option>
	<option value="BH">Bahrain</option>

	<option value="BO">Bolivia, Plurinational State of</option>
	<option value="BR">Brazil</option>

	<option value="CA">Canada</option>

	<option value="DO">Dominican Republic</option>
	<option value="EC">Ecuador</option>
	<option value="EG">Egipto</option>
	<option value="SV">El Salvador</option>
ion>
	<option value="FI">Finland</option>
	<option value="FR">France</option>



	<option value="IT">Italia</option>
	<option value="JM">Jamaica</option>
	<option value="JP">Japon</option>



	<option value="PA">Panama</option>
	<option value="PG">Papua New Guinea</option>
	<option value="PY">Paraguay</option>
	<option value="PE">Peru</option>

	<option value="PL">Poland</option>
	<option value="PT">Portugal</option>
	<option value="PR">Puerto Rico</option>

	<option value="RO">Romania</option>
	<option value="RU">Rusia</option>
	<option value="RW">Rwanda</option>

</select>


</template>
